#!/bin/bash
#SBATCH -J SeisSol_LOG_NAME
#Output and error (also --output, --error):
#SBATCH -o WORK_DIR/LOG_FILE
#SBATCH -e WORK_DIR/LOG_FILE

#Initial working directory (also --chdir):
#SBATCH --workdir=WORK_DIR

#Notification and type
#SBATCH --mail-type=END
#SBATCH --mail-user=wolf.sebastian@in.tum.de

# Wall clock limit:
#SBATCH --time=02:30
#SBATCH --no-requeue

#Setup of execution environment
#SBATCH --export=ALL
#SBATCH --account=pr83no
#constraints are optional
#--constraint="scratch&work"
#SBATCH --partition=PARTITION

#Number of nodes and MPI tasks per node:
#SBATCH --nodes=NODES
#SBATCH --ntasks-per-node=1

module load slurm_setup
#Run the program:
export MP_SINGLE_THREAD=no
unset KMP_AFFINITY
export OMP_NUM_THREADS=94
export OMP_PLACES="cores(47)"

export XDMFWRITER_ALIGNMENT=8388608
export XDMFWRITER_BLOCK_SIZE=8388608
export SC_CHECKPOINT_ALIGNMENT=8388608

export SEISSOL_CHECKPOINT_ALIGNMENT=8388608
export SEISSOL_CHECKPOINT_DIRECT=1
export ASYNC_MODE=THREAD
export ASYNC_BUFFER_ALIGNMENT=8388608
source /etc/profile.d/modules.sh

echo $SLURM_NTASKS
ulimit -Ss unlimited
